<div login-dialog></div>
<!-- BEGIN HEADER -->
<div ui-view="header" class="vs-fade-in"></div>
<!-- END HEADER -->
<div class="container">
    <div class="row">
        <div class="col-md-1  col-sm-2 col-xs-12 ">
            <div  class="vs-fade-in " ></div>
        </div>
        <div class="col-md-10  col-sm-10     col-xs-12 " >
            <div ui-view="main" class="vs-fade-in " ></div>
        </div>

        <div class="col-md-1  col-sm-2 col-xs-12 ">
            <div  class="vs-fade-in " ></div>
        </div>
    </div>
</div>

<!-- BEGIN FOOTER -->
<div ui-view="footer"></div>
<!-- END FOOTER -->

